/* Themes Custom Props */

:root {
  --color-bg: white;
  --color-fg: black;
  --color-accent: royalblue;
  --color-border: whitesmoke;
}

:root.dark {
  --color-bg: black;
  --color-fg: white;
  --color-accent: hsl(225, 80%, 65%);
  --color-border: hsl(0, 0%, 20%);
}

/* Globals */

:root {
  color-scheme: light;
  background: var(--color-bg);
  color: var(--color-fg);
  scroll-padding-top: calc(70px - 1px);
}

:root.dark {
  color-scheme: dark;
}

body {
  color: hsl(0 0% 30%);
  font-family: 'InterVariable', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* TODO: enable on dark theme (white on black) */
  /* -webkit-font-smoothing: antialiased; */
}

/* Debugging focus outlines */

* {
  outline-offset: 2px;
  outline-color: hsla(225, 73%, 57%, 0);
}

*:focus-visible {
  outline: 2px solid hsla(225, 73%, 57%, 0.5);
}
