:root {
  --background: white;
  --foreground: black;
  --accent: royalblue;
  --border: whitesmoke;
}

:root.dark {
  --background: black;
  --foreground: white;
  --accent: hsl(225, 80%, 65%);
  --border: hsl(0, 0%, 20%);
}

:root {
  color-scheme: light;
  background: var(--background);
  color: var(--foreground);
}

:root.dark {
  color-scheme: dark;
}

body {
  padding: 40px;
  margin: 0 auto;
  max-width: 720px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: var(--accent);
}

.articles-list {
  list-style: none;
  padding: 0;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

nav {
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.theme {
  display: inline-flex;
  gap: 5px;
}

.theme-resolved {
  opacity: 0.5;
  font-size: 0.8em;
}

div.line.highlight {
  background: var(--border);
}

.floating-stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.tags {
  margin-left: 16px;
  display: inline-flex;
  gap: 6px;
}

.tags a {
  font-weight: normal;
  text-decoration: none;
}

.toc {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
  background: var(--background);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0;
}

.toc li {
  opacity: 0.7;
}

.toc li:hover {
  opacity: 1;
}

.toc li.active-ancestor {
  opacity: 1;
}

.toc li.active {
  opacity: 1;
  font-weight: bold;
}

.toc a {
  transition: all 0.2s;
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  /* Value based on default browser top margins */
  padding-top: 0.83em;
}

h3 {
  margin-top: 0;
  padding-top: 1em;
}

h4 {
  margin-top: 0;
  padding-top: 1.33em;
}

p {
  margin-bottom: 0;
}
