/* Theme vars */

:root {
  --color-bg-default: white;
  --color-bg-muted: hsla(0 0% 0% / 0.05);
  --color-bg-subtle: hsla(0 0% 0% / 0.03);
  --color-bg-subtle-hover: hsla(0 0% 0% / 0.06);
  --color-bg-subtler: hsla(0 0% 0% / 0.02);
  --color-bg-subtlerer: hsla(0 0% 0% / 0.01);
  --color-bg-translucent: hsla(0 0% 99% / 0.95);
  --color-bg-translucent-hover: hsla(0 0% 99% / 0.95);
  --color-bg-emphasis: black;
  --color-bg-tag: hsla(0 0% 0% / 0.03);
  --color-bg-tag-hover: hsla(0 0% 0% / 0.06);
  --color-bg-highlight: hsla(0 0% 0% / 0.1);
  --color-bg-status: hsla(0 0% 0% / 0.3);

  --color-fg-default: hsla(0 0% 0% / 0.4);
  --color-fg-default-hover: hsla(0 0% 0% / 0.6);
  --color-fg-muted: hsla(0 0% 0% / 0.2);
  --color-fg-muted-hover: hsla(0 0% 0% / 0.3);
  --color-fg-subtle: hsla(0 0% 0% / 0.08);
  --color-fg-prose: hsla(0 0% 0% / 0.6);
  --color-fg-accent: black;
  --color-fg-accent-muted: hsla(0 0% 0% / 0.7);
  --color-fg-accent-secondary: hsla(0 0% 0% / 0.5);
  --color-fg-emphasis: white;
  --color-fg-emphasis-subtle: hsl(0 0% 100% / 0.4);
  --color-fg-contrast: hsla(0 0% 40% / 0.9);
  --color-fg-tag: hsl(0 0% 0% / 0.7);
  --color-fg-status: hsla(0 0% 100% / 1);

  --color-border: hsla(0 0% 0% / 0.07);
  --color-overlay: hsla(0 0% 0% / 0.08);
  --color-link: hsla(0 0% 0% / 0.6);
  --color-link-hover: hsla(0 0% 0% / 0.7);
  --color-link-decoration: hsla(0 0% 0% / 0.1);
  --color-link-decoration-hover: hsla(0 0% 0% / 0.2);
  --color-bg-toc-header: hsla(0 0% 100% / 0.7);
  --color-bg-code-highlight: hsla(0 0% 0% / 0.03);
  --color-shadow-border: hsla(0 0% 0% / 0.05);
  --color-shadow-border-subtle: hsla(0 0% 0% / 0.05);
  --color-shadow-border-contrast: hsla(0 0% 100% / 0.5);
  --color-border-code: hsla(0 0% 0% / 0.03);
  --color-border-top-navbar: hsla(0 0% 0% / 0.08);
  --color-progress-bar: hsla(0 0% 0% / 0.1);
  --color-focus-ring: hsla(0 0% 0% / 0.2);
  --color-focus-ring-hover: hsla(0 0% 0% / 0.3);

  --shadow-border: 0 0 0 1px hsla(0 0% 0% / 0.05);
  --shadow-border-inset: inset 0 0 0 1px hsla(0 0% 0% / 0.08);
  --shadow-border-inset-dark: inset 0 0 0 0 hsla(0 0% 0% / 0);
  --shadow-border-bottom: 0 1px hsla(0 0% 0% / 0.05);
  --shadow-border-top-inset: inset 0 0.5px 0 hsla(0 0% 0% / 0.08);
  --shadow-status: inset 0 0.5px 0 0 hsla(0 0% 100% / 0.15),
    0 0 0 0.5px hsla(0 0% 0% / 0.2);

  --gradient-header-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0) 0%,
    hsla(0, 0%, 100%, 0.48) 40%,
    hsla(0, 0%, 100%, 0.7) 60%,
    hsla(0, 0%, 100%, 0.78) 70%,
    hsla(0, 0%, 100%, 0.83) 75%,
    hsla(0, 0%, 100%, 0.88) 80%,
    hsla(0, 0%, 100%, 0.95) 90%,
    hsl(0, 0%, 100%) 100%
  );
}

:root.dark {
  --color-bg-default: black;
  --color-bg-muted: hsla(0 0% 100% / 0.12);
  --color-bg-subtle: hsla(0 0% 100% / 0.12);
  --color-bg-subtle-hover: hsla(0 0% 100% / 0.15);
  --color-bg-subtler: hsla(0 0% 100% / 0.1);
  --color-bg-subtlerer: hsla(0 0% 100% / 0.08);
  --color-bg-translucent: hsla(0 0% 15% / 0.9);
  --color-bg-translucent-hover: hsla(0 0% 18% / 0.9);
  --color-bg-emphasis: white;
  --color-bg-tag: hsla(0 0% 100% / 0.12);
  --color-bg-tag-hover: hsla(0 0% 100% / 0.15);
  --color-bg-highlight: hsla(0 0% 100% / 0.2);
  --color-bg-status: hsla(0 0% 100% / 0.5);

  --color-fg-default: hsla(0 0% 100% / 0.5);
  --color-fg-default-hover: hsla(0 0% 100% / 0.8);
  --color-fg-muted: hsla(0 0% 100% / 0.3);
  --color-fg-muted-hover: hsla(0 0% 100% / 0.4);
  --color-fg-subtle: hsla(0 0% 100% / 0.2);
  --color-fg-prose: hsla(0 0% 100% / 0.7);
  --color-fg-accent: white;
  --color-fg-accent-muted: hsla(0 0% 100% / 0.85);
  --color-fg-accent-secondary: hsla(0 0% 100% / 0.5);
  --color-fg-emphasis: black;
  --color-fg-emphasis-subtle: hsl(0 0% 0% / 0.4);
  --color-fg-contrast: hsla(0 0% 60% / 0.9);
  --color-fg-tag: hsl(0 0% 100% / 0.7);
  --color-fg-status: hsla(0 0% 0% / 1);

  --color-border: hsla(0 0% 100% / 0.12);
  --color-overlay: hsla(0 0% 100% / 0.06);
  --color-link: hsla(0 0% 100% / 0.7);
  --color-link-hover: hsla(0 0% 100% / 0.8);
  --color-link-decoration: hsla(0 0% 100% / 0.2);
  --color-link-decoration-hover: hsla(0 0% 100% / 0.3);
  --color-bg-toc-header: hsla(0 0% 100% / 0.05);
  --color-bg-code-highlight: hsla(0 0% 100% / 0.1);
  --color-shadow-border: hsla(0 0% 0% / 0.3);
  --color-shadow-border-subtle: hsla(0 0% 0% / 0.1);
  --color-shadow-border-contrast: hsla(0 0% 100% / 0.08);
  --color-border-code: hsla(0 0% 100% / 0.08);
  --color-border-top-navbar: var(--color-shadow-border-contrast);
  --color-progress-bar: hsla(0 0% 100% / 0.2);
  --color-focus-ring: hsla(0 0% 100% / 0.4);
  --color-focus-ring-hover: hsla(0 0% 100% / 0.55);

  --shadow-border: 0 0 0 1px hsla(0 0% 0% / 0.05);
  --shadow-border-inset: inset 0 0 0 1px hsla(0 0% 100% / 0.08);
  --shadow-border-inset-dark: inset 0 0 0 1px hsla(0 0% 100% / 0.08);
  --shadow-border-bottom: 0 1px hsla(0 0% 100% / 0.08);
  --shadow-border-top-inset: inset 0 0.5px 0 hsla(0 0% 100% / 0.08);
  --shadow-status: inset 0 0.5px 0 0 hsla(0 0% 100% / 0.3),
    0 0 0 0.5px hsla(0 0% 0% / 0.2);

  --gradient-header-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.48) 40%,
    hsla(0, 0%, 0%, 0.7) 60%,
    hsla(0, 0%, 0%, 0.78) 70%,
    hsla(0, 0%, 0%, 0.83) 75%,
    hsla(0, 0%, 0%, 0.88) 80%,
    hsla(0, 0%, 0%, 0.95) 90%,
    hsl(0, 0%, 0%) 100%
  );
}

/* Code Highlighting */
/* Values copied from https://github.com/wooorm/starry-night/blob/main/style/both.css */

:root {
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
}

:root.dark {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
}

/* Theme-specific tweaks */

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
}

/* Misc */

:root {
  background: var(--color-bg-default);
  color: var(--color-fg-default);
  font-family: 'InterVariable', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* Removes the interaction overlays on mobile (light gray in Safari and light blue in Chrome) */
  -webkit-tap-highlight-color: transparent;

  /* TODO remove magic number */
  scroll-padding-top: calc(70px - 1px);
}

:root.switchingTheme * {
  transition-duration: 0s;
}

::selection {
  background: hsla(0 0% 0% / 0.1);
}
