/**
 * Of all the headings, normalize.css tweaks the h1s specifically, and even
 * though the normalize import is done _before_ the reset, the normalize h1's
 * tweaks have higher specificity than the ones in the reset (and thus applied),
 * leaving all headers properly reset, expect the h1s. Applying the reset rule
 * to the h1s specifically here, to win over the normalize one.
 */

h1 {
  all: unset;
  display: revert;
}

/* Themes Custom Props */

:root {
  --color-bg: white;
  --color-fg: black;
  --color-accent: royalblue;
  --color-border: whitesmoke;
}

:root.dark {
  --color-bg: black;
  --color-fg: white;
  --color-accent: hsl(225, 80%, 65%);
  --color-border: hsl(0, 0%, 20%);
}

/* Globals */

:root {
  color-scheme: light;
  background: var(--color-bg);
  color: var(--color-fg);
  scroll-padding-top: calc(70px - 1px);
}

:root.dark {
  color-scheme: dark;
}

body {
  font-family: 'InterVariable', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;

  /* TODO: investigate */
  /* -webkit-font-smoothing: antialiased; */

  /* TODO: non-white background? */
  /* background-color: hsl(0, 0%, 98%); */
}

.articles-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.articles-list a strong {
  font-weight: inherit;
  text-decoration: underline;
}

.filters__search {
  display: flex;
  gap: 10px;
}

.filters__tags {
  display: flex;
  gap: 8px;
}

.thumbnail-image-wrapper {
  position: relative;
  aspect-ratio: 2 / 1;
}

.thumbnail-image {
  object-fit: cover;
}
